:root {
  --primary-color: #DDCDA4;
  --secondary-color: #81776B;
  --background-color: #050301;
  --secondary-border-color: #4e4e4e;
  --border-radius: 12px;
}

body {
  background-color: #f4f4f4;
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;

  font-size: 15px;
  font-weight: normal;

  line-height: 1em;
  margin: 0;
}

.outer {
  padding: 10px;
}

.container {
  width: 80%;
  margin: auto;
  border: 5px #333333 solid;
  padding: 10px;
  border-radius: 25px;
}

.input {
  width: 1;
  color: #777;
  padding: 8;
  margin: 10;
  width: 200;
}

.myform {
  padding: 20px;
}

.myform input[type="text"],
.myform textarea {
  padding: 8px;
  width: 100%;
}

.column {
  padding: 20px;
  float: left;
  width: 50%;
}

.column_aut {
  padding: 20px;
  float: left;
  width: 33%;
}

.Token_message {
  display: inline;
}

.swap {
  padding: 10px;
}

.swap_button {
  float: right;
}

.markdown {
  width: 80%;
  margin: auto;
}

.connect-wallet-button {
  width: 264px;
  height: 32px;
  text-transform: none !important;
  margin-left: 16px !important;
}

.header {
  padding-right: 120px;
  padding-left: 120px;
}

.header-menu-item {
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--secondary-color);
  text-decoration: none;
}

.header-contact-button {
  margin-left: auto;
  width: 150px;
  height: 32px;
  text-transform: none !important;
}

.main-container {
  position: relative;
  height: 95vh;
  padding-left: 120px;
  padding-right: 120px;
}

.main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: -1;
}

.main-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.main-content-area {
  margin-top: 24px;
}

.tab-header {
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  text-align: center !important;
  color: var(--secondary-color) !important;
  text-decoration: none !important;
}

.tab-header.Mui-selected {
  color: var(--primary-color) !important;
  line-height: 24px !important;
  font-size: 20px !important;
}

.tabpanel-container {
  margin-top: 12px;
  background: linear-gradient(90deg, #926128 0%, #B99A45 25%, #E3D6B4 50%, #B99A45 79%, #916027 100%);
  border-radius: var(--border-radius);
  padding: 1px !important;
}

.tabpanel-content {
  border-radius: var(--border-radius);
  background: radial-gradient(86.33% 299.52% at 13.67% 23.12%, #272727 0%, #0E0E0E 100%);
  padding: 32px;
}

.coin-field-header {
  margin-bottom: 24px;
}

.coin-field-button {
  background: radial-gradient(86.33% 299.52% at 13.67% 23.12%, #272727 0%, #0E0E0E 100%);
  border-radius: 24px !important;
  text-transform: none !important;
}

.coin-field-balance {
  margin-top: 16px;
  color: var(--secondary-color);
}

.coin-field-balance-text {
  margin-left: 8px !important;
}

.coin-field-container {
  background: var(--background-color);
  padding: 16px 23px;
  border-radius: var(--border-radius);
  margin-bottom: 0px;
}

.coin-field-container-title {
  margin-bottom: 16px;
}

.coin-field-input input {
  text-align: end;
  font-size: 24px;
  color: var(--secondary-color);
}

.coin-field-input::after {
  border: none !important;
}

.coin-field-input::before {
  border: none !important;
}

.coin-field-input-value {
  color: var(--secondary-color);
}

.switch-field-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/images/repeat.svg');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.switch-field-button {
  border: none !important;
  cursor: pointer;
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  min-width: 32px !important;
  margin-bottom: -10px !important;
  margin-top: -10px !important;
}

.switch-field-button:hover {
  background: transparent !important;
}

.swap-button {
  margin-top: 32px !important;
  width: 200px !important;
  height: 32px !important;
  text-transform: none !important;
}

.token-symbol {
  margin-left: 8px !important;
}

.token-input-field {
  text-align: start;
  font-size: 24px !important;
  color: var(--primary-color) !important;
}

.token-input-field::after {
  border: none !important;
}

.token-input-field::before {
  border: none !important;
}

.token-input-field-value {
  color: var(--primary-color);
}

.token-input-field-balance-container {
  margin-top: 8px;
}

.token-input-field-balance {
  margin-left: 8px !important;
}

.coin-field-pair-container {
  margin-top: 16px;
}

.coin-field-pair-block {
  margin-bottom: 16px;
}

.coin-field-pair-plus {
  margin: 0px 16px !important;
}

.liquidity-token-divider {
  width: 100%;
  height: 100%;
  background: url('./assets/images/divider-hr.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.liquidity-token-divider-plus {
  width: 100%;
  height: 32px;
  background: url('./assets/images/divider-plus.svg');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.liquidity-pool-summary {
  padding: 16px 23px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-border-color);
  color: var(--secondary-color);
}

.liquidity-add-button {
  width: 220px;
  height: 32px;
  margin-top: 32px !important;
}

.gradient-text {
  background: linear-gradient(90deg, #926128 0%, #B99A45 25%, #E3D6B4 50%, #B99A45 79%, #916027 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600 !important;
  line-height: 30px !important;
}

.gradient-text:hover {
  background: linear-gradient(90deg, #926128 0%, #916027 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
}

.gradient-button {
  border: none !important;
  border-radius: 2px !important;
  padding: 0px !important;
  background: linear-gradient(355deg, #926128 -20.2%, #E3D6B4 46.46%, #B99A45 85.12%, #916027 113.11%) !important;
}

.gradient-button__disabled {
  border: none;
  border-radius: 2px;
  padding: 0px;
  background: linear-gradient(355deg, #926128 -20.2%, #E3D6B4 46.46%, #B99A45 85.12%, #916027 113.11%) !important;
  opacity: 0.5;
}

.gradient-button:hover {
  box-shadow: 0px 0px 16px 0px #FFBE0CB2;
}

.button-angled-clip {
  background: #000;
  width: 99%;
  clip-path: polygon(100% 0%, 100% 60%, 90% 100%, 0 100%, 0 0)
}

.button-angled-clip:hover {
  background: transparent;
}

.MuiTabs-indicator {
  display: none;
}

.pool-tabs {
  margin-bottom: 16px !important;
  background: var(--background-color) !important;
  border-radius: 24px !important;
  padding: 1px !important;
  width: fit-content;
  min-height: 32px !important;
}

.pool-tab-button {
  text-transform: none !important;
  width: 153px !important;
  height: 32px !important;
  padding: 8px 32px 8px 32px !important;
  border-radius: 24px !important;
  background: var(--background-color) !important;
  color: var(--secondary-color) !important;
  min-height: 32px !important;
}

.pool-tab-button.Mui-selected {
  background: var(--primary-color) !important;
  color: var(--background-color) !important;
}

.pool-card {
  margin-bottom: 16px !important;
  border-radius: var(--border-radius) !important;
}

/* Coin Dialog */

.coin-dialog .MuiDialog-paper  {
  background: radial-gradient(86.33% 299.52% at 13.67% 23.12%, #272727 0%, #0E0E0E 100%);
  border-radius: var(--border-radius);
  padding: 24px !important;
}

.coin-dialog__title {
  color: var(--primary-color) !important;
  padding: 0 !important;
}

.coin-dialog__input {
  color: var(--primary-color) !important;
  background: var(--background-color) !important;
  border-radius: var(--border-radius) !important;
  padding: 8px !important;
  margin-bottom: 16px !important;
}

.coin-dialog__input::after {
  border: none !important;
}

.coin-dialog__input::before {
  border: none !important;
}

.coin-dialog__tokens-container-title {
  margin-left: 8px !important;
}

.coin-dialog__tokens-container {
  margin-bottom: 16px !important;
  color: var(--primary-color) !important;
}

.coin-dialog__list {
  padding: 16px !important;
  background: var(--background-color) !important;
  border-radius: var(--border-radius) !important;
}

.coin-dialog__list-item {
  background: radial-gradient(86.33% 299.52% at 13.67% 23.12%, #272727 0%, #0E0E0E 100%)!important;
  border-radius: 24px !important;
  margin-bottom: 8px !important;
}

.coin-dialog__list-item-text {
  text-transform: uppercase;
}

.coin-dialog__list-item-icon {
  min-width: 32px !important;
}

.coin-noicon-placeholder {
  width: 24px;
  height: 24px;
  background: #1A1A1A;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main-container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .header {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

@media (max-width: 900px) {
  .main-container {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .header {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}